params{
  outdir = 'output'
  initdir = '${outdir}' // set to `fastq/` parent directory where fastqs have already been downloaded, to avoid re-downloading from SRA
  mode = "all" // all
  bin = "/path/to/popABC/selection_1000G"
  hornet_code = "/path/to/Hornet/mapping"
  fastq_local_glob = "/path/to/*.fastq.gz" // "" to get from SRA, but FTP with fromSRA nextflow function currently truncates large files
  sra_id = "PRJNA383900" // https://doi.org/10.7554/eLife.39595
  sra_api_key = "717e973050a072c8f605635450151d576307" // https://www.ncbi.nlm.nih.gov/account/settings (allows up to 10 requests/second instead of 3)
  urlroot = "https://www.ncbi.nlm.nih.gov/sra/?term="
  urlfull = urlroot + sra_id

  atac_glob = "{CEU,FIN,IBS,TSI,ESN,GWD,LWK,YRI}"
  group_regex = [ '/(ESN|GWD|LWK|YRI)/',
                  '/(CEU|FIN|IBS|TSI)/' ]
  group_names = [ 'AFR',
                  'EUR' ]
  bt2_idx_prefix = "/path/to/bowtie2/hg19/hg19" // prefix of bowtie2 indices
  bt2_opts = "-N 1 -L 20 -X 2000 --end-to-end --np 0 --n-ceil L,0,0.15"
  mapcores = 32
  mapq = 5

  vcf_dir = "/path/to/1000genomes/1000GP_Phase3" // ftp.1000genomes.ebi.ac.uk/vol1/ftp/release/20130502/ (if not pre-downloaded)
  vcf_stem = "ALL.chr*.phase3_*integrated_v*.20130502.genotypes.vcf.gz"
  sample_info = '/path/to/1000genomes/inds/20130606_sample_info.xlsx'
  vcf_pops = ['CEU_FIN_IBS_TSI_ESN_GWD_LWK_YRI']
  // variant must have at least this Minor Allele Frequency across all individuals
  // to require remapping of overlapping reads
  maf = 0.05
  mac = 0 // if maf = "", use this Minor Allele Count instead

  samcores = 16
}

// configured to run on Fraser Lab compute cluster
// the software specified below are configured to run as
// Lmod modules, which can be set up in any Unix environment

process{
  module = 'anaconda/4.8' // must have cutadapt installed
  errorStrategy = 'finish'
  maxForks = 200
  stageInMode = 'rellink'
  cpus = 1
  memory = '4G'
  time  = '2h'
  withLabel: 'cutadapt'{
    cpus = params.samcores
    memory = params.samcores*4 + 'G'
    time = '8h'
  }
  withLabel: 'map'{
    module = 'samtools:bowtie2'
    cpus = params.mapcores
    memory = params.mapcores*4 + 'G'
    time  = '24h'
  }
  withLabel: 'rmdup'{
    module = 'samtools:picard/2.18.20'
    maxForks = 10
    cpus = 1
    memory = '8G'
    time  = '8h'
  }
  withLabel: 'snps'{
    module = 'vcftools'
    cpus = 1
    memory = '10G'
    time  = '2h'
  }
  withLabel: 'intersecting'{
    module = 'fraserconda'
    cpus = 1
    memory = '10G' // 20G for 70+M vars
    time  = '12h' // 30h for 70+M vars
  }
  withLabel: 'filter'{
    module = 'fraserconda'
    cpus = 1
    memory = '16G'
    time  = '10h'
  }
  withLabel: 'samtools'{
    module = 'samtools'
    cpus = params.samcores
    memory = params.samcores*4 + 'G'
    time  = '8h'
  }
  withLabel: 'mapq'{
    module = 'samtools'
    cpus = params.samcores
    memory = '8G'
    time = '4h'
  }
  withLabel: 'count'{
    module = 'samtools'
    time = '8h'
  }
  withLabel: 'r'{
    module = 'R/4.1.0'
    cpus = 1
    memory = '4G'
    time  = '1h'
  }

}

executor{
  name = 'slurm'
  submitRateLimit = '1 sec'
  queueSize = 500
}
// configured to run on Fraser Lab compute cluster
// the software specified below are configured to run as
// Lmod modules, which can be set up in any Unix environment
notification{
  enabled = false
  to = '' // your email address
}

timeline {
    enabled = true
    file = "./pipeline_info/timeline.html"
}

trace {
    enabled = true
    file = "./pipeline_info/trace.txt"
}

report {
    enabled = true
    file = "./pipeline_info/report.html"
}
