params{
  // using LWK as example population to recover fastq files for
  // rename according to your needs
  outdir = '/path/to/mapping/inputdir' // wherever you want to start mapping fastqs from
  mode = "all" // all
  // named to match original hicpro mapping pipeline directory/naming structure
  bwt2_global_glob = "/path/to/hicpro_LWK/output/bowtie_results/bwt2_global/LWK_r**/*_001_hg19.bwt2glob.{bam,unmap.fastq}"
  tmpdir = "/path/to/tmp"
}

// configured to run on Fraser Lab compute cluster
// the software specified below are configured to run as
// Lmod modules, which can be set up in any Unix environment

process{
  module = "samtools"
  errorStrategy = 'finish'
  maxForks = 200
  stageInMode = 'rellink'
  cpus = 8
  memory = '16G'
  time  = '8h'
}

executor{
  name = 'slurm'
  submitRateLimit = '1 sec'
  queueSize = 500
}

notification{
  enabled = false
  to = '' // your email address
}

timeline {
    enabled = true
    file = "./pipeline_info/timeline.html"
}

trace {
    enabled = true
    file = "./pipeline_info/trace.txt"
}

report {
    enabled = true
    file = "./pipeline_info/report.html"
}
