params{
  outdir = 'output'
  mode = "all" // all
  // fastqs to subtract from
  fastq_comb_glob = "/path/to/full/*.fastq.gz"
  // fastqs to subtract
  fastq_sub_glob = "/path/to/partial/*.fastq.gz"
  sortcores = 12
  sortmem = '75G'
  subcores = 2 
  tmpdir = "/path/to/tmp"
}

// configured to run on Fraser Lab compute cluster
// the software specified below are configured to run as
// Lmod modules, which can be set up in any Unix environment

process{
  module = "anaconda/4.8"
  errorStrategy = 'finish'
  maxForks = 200
  stageInMode = 'rellink'
  cpus = 1
  memory = '4G'
  time  = '59m'
  withLabel: 'sort'{
    cpus = params.sortcores
    memory = params.sortmem
    time = '96h'
    // maxForks = 10
    // errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    // maxRetries = 5
  }
  withLabel: 'subtract'{
    cpus = params.subcores
    memory = '10G'
    time = '96h'
  }
}

executor{
  name = 'slurm'
  submitRateLimit = '1 sec'
  queueSize = 500
}

notification{
  enabled = false
  to = '' // your email address
}

timeline {
    enabled = true
    file = "./pipeline_info/timeline.html"
}

trace {
    enabled = true
    file = "./pipeline_info/trace.txt"
}

report {
    enabled = true
    file = "./pipeline_info/report.html"
}
