[submodule "ABC-Enhancer-Gene-Prediction"]
	path = ABC-Enhancer-Gene-Prediction
	url = git@github.com:kadepettie/popABC.git
[submodule "Hornet"]
	path = Hornet
	url = git@github.com:kadepettie/popABC.git
