#!/usr/bin/env nextflow

params{
  mode = 'all' // all
  bin = "/home/kpettie/code/github/selection_1000G" // Glob expression matching custom scripts in GitHub repo
  gene_set = '/cashew/users/kade/nextflow/selection_1000G/main/output/genes/keratinization.txt'
  snps = [
    '/cashew/users/kade/nextflow/selection_1000G/supp_data/protein_coding_lncRNA_gamma01_knn30_cut5e-8/snse/tehaas_trans_eQTL_snse.txt',
    '/cashew/users/kade/nextflow/selection_1000G/supp_data/protein_coding_lncRNA_gamma01_knn30_cut5e-8/sse/tehaas_trans_eQTL_sse.txt'
    ]
  liftover = "/cashew/shared_data/genomes/human/hg38ToHg19.over.chain"
  // vcf_input = "/home/kpettie/data/gzvcfs/ALL.chr${n}.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz" // should have ${n} for compatibility with .map operator
  fst_pop1 = "/cashew/shared_data/1000genomes/inds/EUR.CEU_FIN_IBS_TSI.individuals.txt"
  fst_pop2 = "/cashew/shared_data/1000genomes/inds/AFR.ESN_GWD_LWK_YRI.individuals.txt"
  outdir = "output"
}

process{
  errorStrategy = 'finish'
  maxForks = 100
  stageInMode = 'rellink'
  withLabel: 'r'{
    module = 'R/3.6.1'
    memory = '4G'
    time  = '1h'
  }
  withLabel: 'vcf'{
    module = 'vcftools'
    time = '1h'
  }
  withLabel: 'base'{
    time = '5m'
  }
}

executor{
  name = 'slurm'
  submitRateLimit = '1 sec'
  queueSize = 500
}

notification{
  enabled = true
  to = 'kpettie@stanford.edu'
}
