params{

  outdir = 'output'
  mode = "all" // all

  git_dir = "/path/to/popABC"
  bin = "${git_dir}/selection_1000G"
  plotdir = "${git_dir}/plotting"

  qtl_fnames = ['/path/to/bqtl/nfkB.txt',
                '/path/to/bqtl/h3k4me3.txt',
                '/path/to/bqtl/junD.txt',
                '/path/to/bqtl/oct1.txt',
                '/path/to/bqtl/pu1.txt',
                '/path/to/bqtl/stat1.txt',
                '/path/to/bqtl/ctcf.txt']

  d_all_fname = '/previous/pipeline/execution/output/diffABC/HiChIP/aggregate/allZerosFilt.meanQN.14.AFR_EUR.diff.allComponents.txt.gz'
  gs_fname = '/path/to/gene_sets/HALLMARK_TNFA_SIGNALING_VIA_NFKB.txt' // one hgnc_symbol per line (optional). currently generated in diffABC_debug.R.ipynb `5 GSEA 5.3 write out leading edge`
  frq_fname = '/path/to/vcf_allele_freq/output/frq_sub/alternateAlleleHighFreq.AFREUR.bed.gz' // currently generated in diff-cCRE_QTL_overlap.R.ipynb `5 allele freq`
  fst_fname = "/path/to/fst_subset_percentiles/output/fst_sub/EUR_vs_AFR.ccres_shared_allsamps.fst.percentiles.txt.gz" // currently generated in concatDecompABC_debug.R.ipynb `4.2 FST`


  chain_fname = '/path/to/hg38ToHg19.over.chain'
  // optional eQTL - CRE overlap
  ref_fname = '/path/to/supp_data/LeaEtAl2021/31Mar21_LCLs_mashR_eQTL_annotation.txt'
  eqtl_lfsr_fname = '/path/to/supp_data/LeaEtAl2021/31Mar21_LFSR_eQTL_mashr_nocor.txt'
  eqtl_es_fname = '/path/to/supp_data/LeaEtAl2021/31Mar21_pm_eQTL_mashr_nocor.txt'

  de_fname = '/path/to/supp_data/LeaEtAl2021/LeaEtAl2021_popDE.txt.gz'
  rde_fname = '/path/to/supp_data/RandolphEtAl2021/RandolphEtAl2021_popDE.txt.gz'
  rdr_fname = '/path/to/supp_data/RandolphEtAl2021/RandolphEtAl2021_popDR.txt.gz'
  teqtl_fname = '/path/to/supp_data/RandolphEtAl2021/science.abg0928_table_s8.xlsx'

  class_resolution = 'chip' // for diff-ChIP/HiC enrichments, resolution to define non-promoter at

}


// configured to run on Fraser Lab compute cluster
// the software specified below are configured to run as
// Lmod modules, which can be set up in any Unix environment

process{
  errorStrategy = 'terminate'
  maxRetries = 2
  maxForks = 200
  stageInMode = 'rellink'
  withLabel: 'r'{
    module = 'R/4.1.0'
    memory = '4G'
    time  = '1h'
  }

}

executor{
  name = 'slurm'
  submitRateLimit = '1 sec'
  queueSize = 500
}

notification{
  enabled = false
  to = '' // your email address
}
