params{

  outdir = '190922outputNoCEU'
  mode = "all" // all

  git_dir = "/home/users/kpettie/code/github"
  bin = "${git_dir}/selection_1000G"
  plotdir = "${git_dir}/plotting"

  qtl_fnames = ['/cashew/shared_data/chipseq/bqtl/nfkB.txt',
                '/cashew/shared_data/chipseq/bqtl/h3k4me3.txt',
                '/cashew/shared_data/chipseq/bqtl/junD.txt',
                '/cashew/shared_data/chipseq/bqtl/oct1.txt',
                '/cashew/shared_data/chipseq/bqtl/pu1.txt',
                '/cashew/shared_data/chipseq/bqtl/stat1.txt',
                '/cashew/shared_data/chipseq/bqtl/ctcf.txt']

  d_all_fname = '/cashew/users/kade/nextflow/selection_1000G/abc/from_sherlock/abc_1000G/180922outputNoCEU/diffABC/HiChIP/aggregate/allZerosFilt.meanQN.14.AFR_EUR.diff.allComponents.txt.gz'
  gs_fname = '/cashew/users/kade/nextflow/selection_1000G/abc/from_sherlock/abc_1000G/jupyter_anal/gene_sets/HALLMARK_TNFA_SIGNALING_VIA_NFKB.txt'
  frq_fname = '/home/kpettie/nf_selection/abc/allele_freq/250622output/frq_sub/alternateAlleleHighFreq.AFREUR.bed.gz'
  fst_fname = "/cashew/users/kade/nextflow/selection_1000G/abc/fst/070422output/fst_sub/EUR_vs_AFR.ccres_shared_allsamps.fst.percentiles.txt.gz"
  ihs_fname = "/home/kpettie/nf_selection/supp_data/LeaEtAl2021/JohnsonAndVoight2018/JohnsonAndVoight2018_iHSscores_8pops_percentiles.txt.gz"


  chain_fname = '/cashew/shared_data/genomes/human/hg38ToHg19.over.chain'
  ref_fname = '/home/kpettie/nf_selection/supp_data/LeaEtAl2021/31Mar21_LCLs_mashR_eQTL_annotation.txt'
  eqtl_lfsr_fname = '/home/kpettie/nf_selection/supp_data/LeaEtAl2021/31Mar21_LFSR_eQTL_mashr_nocor.txt'
  eqtl_es_fname = '/home/kpettie/nf_selection/supp_data/LeaEtAl2021/31Mar21_pm_eQTL_mashr_nocor.txt'

  de_fname = '/home/kpettie/nf_selection/supp_data/LeaEtAl2021/LeaEtAl2021_popDE.txt.gz'
  rde_fname = '/home/kpettie/nf_selection/supp_data/RandolphEtAl2021/RandolphEtAl2021_popDE.txt.gz'
  rdr_fname = '/home/kpettie/nf_selection/supp_data/RandolphEtAl2021/RandolphEtAl2021_popDR.txt.gz'
  teqtl_fname = '/cashew/users/kade/nextflow/selection_1000G/supp_data/RandolphEtAl2021/science.abg0928_table_s8.xlsx'

  class_resolution = 'chip' // for diff-ChIP/HiC enrichments, resolution to define non-promoter at

}

process{
  errorStrategy = 'finish'
  maxRetries = 2
  maxForks = 200
  stageInMode = 'rellink'
  withLabel: 'r'{
    module = 'R/4.1.0'
    memory = '4G'
    time  = '1h'
  }

}

executor{
  name = 'local'
  submitRateLimit = '1 sec'
  queueSize = 500
}

notification{
  enabled = true
  to = 'kpettie@stanford.edu'
}
