params{
  mode = "all"
  bin = "/path/to/popABC/selection_1000G"
  // path to directory with plink executable downloaded from: 
  // https://zzz.bwh.harvard.edu/plink/download.shtml
  plink = "/path/to/bin/plink-1.07-x86_64"
  outdir = "output"

  // set directory in .nf main file for vcf files due to chromosome glob matching weirdly not working
  // when specified in .config file

  sample_info = '/path/to/inds/20130606_sample_info.xlsx' // 1000 Genomes sample info spreadsheet for getting individual IDs from each population
  ld_pops = ['CEU_FIN_IBS_TSI','CEU'] // list of populations (or '_' -separated populations to calculate LD within
}

// configured to run on Fraser Lab compute cluster
// the software specified below are configured to run as
// Lmod modules, which can be set up in any Unix environment

process{
  errorStrategy = 'finish'
  maxForks = 200
  stageInMode = 'rellink'
  withLabel: 'r'{
    module = 'R/3.6.1'
    memory = '16G'
    time  = '4h'
  }
  withLabel: 'vcf'{
    module = 'vcftools'
    time = '2h'
  }
}

executor{
  name = 'slurm'
  submitRateLimit = '1 sec'
  queueSize = 500
}

notification{
  enabled = false
  to = '' // your email address
}
