#!/usr/bin/env nextflow

params{
  mode = "all"
  bin = "/path/to/popABC/selection_1000G"
  outdir = "output"
 
  // set directory in .nf main file for vcf files due to chromosome glob matching weirdly not working
  // when specified in .config file
 
  // currently generated in cell_type_eqtl_new_peak_overlap.R.ipynb `9.2.2  individual IDs for new Fst calc`
  inds = [
    "/path/to/1000genomes/inds/EUR.CEU_FIN_IBS_TSI.individuals.txt",
    "/path/to/1000genomes/inds/AFR.ESN_GWD_LWK_YRI.individuals.txt"
  ]

  // currently generated in concatDecompABC_debug.R.ipynb `4.1.1.1  make cCRE bed for FST overlap`
  region_bed = "/path/to/cCREs/ccres_shared_allsamps.bed" // bed file to intersect with FST values
}

// configured to run on Fraser Lab compute cluster
// the software specified below are configured to run as
// Lmod modules, which can be set up in any Unix environment

process{
  errorStrategy = 'finish'
  maxForks = 200
  stageInMode = 'rellink'
  withLabel: 'r'{
    module = 'R/3.6.1'
    memory = '4G'
    time  = '2h'
  }
  withLabel: 'vcf'{
    module = 'fraserconda:vcftools'
    time = '2h'
  }
  withLabel: 'bed'{
    module = 'bedtools'
    time = '2h'
  }
  withLabel: 'base'{
    time = '5m'
  }
  withLabel: 'concat'{
    time = '3h'
  }
}

executor{
  name = 'slurm'
  submitRateLimit = '1 sec'
  queueSize = 500
}

notification{
  enabled = false
  to = '' // your email address
}
